<h1>Bienvenido a Sinatra!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>

<form action="/fetch" method="post">
Twitter Handle: <input type="text" name="twitter_handle"><br><br>
<input type="submit" value="Enviar">
</form>

<h1>Quieres Twitear?</h1><br>
<form action="/tweet" method="post">
Tweet:	<textarea rows="4" cols="50" type="text" name="tweet"></textarea><br><br>
<input type="submit" value="Enviar">
</form><br>

<% if @message %>
	<%= @message %>
<% end %>